.task-landing-container { 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 60px 80px; /* Ajustement pour plus d'espace */
    margin-top: 40px; 
  }
  
.task-landing-content {
    max-width: 400px;
    margin-left: 20px;
}

.task-landing-content h1 {
    font-size: 28px; /* Taille légèrement augmentée */
    margin-bottom: 30px; /* Plus d'espace sous le titre */
    color: #333;
}

.task-landing-content p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
}

.task-landing-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.task-email-input, .task-signup-button {
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 8px;
    height: 50px; /* Même hauteur */
    box-sizing: border-box;
}

.task-email-input {
    border: 1px solid #ccc;
    width: 100%;
}

.task-signup-button {
    background-color: #007bff;
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task-signup-button:hover {
    background-color: #0056b3;
}
