body {
  font-family: "work Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: white;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.title {
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  height: 120px; /* Hauteur du conteneur */
}

.features .title h1 {
  font-weight: bold;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 30px 10px;
}

.features .feat {
  margin-top: 10px;
  padding: 20px;
  text-align: center;
}

.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
  text-align: justify;
}

.features .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 16px;
  text-align: justify;
}
