/* Conteneur principal */
.page-container {
  display: flex;
  overflow-x: hidden; /* Désactive le défilement horizontal */
  width: 100%; /* S'assure que le conteneur occupe toute la largeur */
}

/* Contenu principal */
.main-content {
  margin-top: 65px; /* Espace sous le Header */
  padding: 20px;
  width: 100%; /* Prend 100% de la largeur disponible */
  margin-left: 0; /* Supprime tout décalage horizontal */
  box-sizing: border-box; /* Inclut padding et bordures dans la largeur */
}

/* Conteneur du calendrier */
.calendar-container {
  padding: 0px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%; /* Assure que la largeur du calendrier ne dépasse pas */
}

/* Titre */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Spécifique à la page */
.page-container .main-content {
  margin-top: 120px; /* Ajuste l'espace sous le Header */
  margin-left: 0; /* Supprime le décalage gauche */
}

/* Global : Désactiver tout débordement horizontal */
html, body {
  overflow-x: hidden; /* Empêche tout défilement horizontal */
}
