.composant4-container {
    position: relative;
    width: 100%;
    max-width: 1050px; /* Ajustez selon vos besoins */
    margin: 20px auto; /* Ajoute un espace avec les autres composants */
    border-radius: 0px;
    overflow: hidden;
    background-color: #ffffff; /* Couleur d'arrière-plan */
  }
  
  .composant4-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .composant4-content {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
  }
  
  .composant4-content h2 {
    font-size: 20px;
    color: #1f1f1f;
    margin: 0 0 10px;
  }
  
  .composant4-content p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .composant4-button {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .composant4-button:hover {
    background-color: #2563eb;
  }
  