.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.features {
  /*padding-top: 60px;
    padding-bottom: 60px;*/
  padding: 10px 30px;
  background-color: white;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
}

.first-task-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: transparent;
}*/

.logo {
  width: 120px;
  height: auto;
}

.brand {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 10px;
  color: #333;
}

.content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.task-form {
  flex: 1;
  max-width: 400px;
  text-align: justify;
}

.task-form h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 60px;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.task-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 5px;
}

.task-options {
  display: flex;
  gap: 10px;
}

.icon {
  font-size: 1.2rem;
  cursor: pointer;
}

.continue-btn {
  padding: 10px 20px;
  background-color: #0047ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  margin-top: 60px;
}

.continue-btn:hover {
  background-color: #0034cc;
}

.task-preview {
  flex: 1;
  max-width: 400px;
  height: 360px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  position: relative;
}

.step {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #e0f7ff;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: bold;
}

.message {
  margin-top: 50px;
  height: 120px;
}

.message p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
}

.design {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  background: linear-gradient(to top, #0047ff, #70b7ff);
  border-radius: 50%;
  margin: 20px auto 0;
}

footer {
  padding: 10px 20px;
  text-align: justify;
}

.back-btn {
  border: none;
  background: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #333;
  text-align: left;
}
