.dashboard-page {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #ecf0f1;
  }
  
  .dashboard-content {
    padding: 20px;
    overflow-y: auto;
    flex: 1;
  }
    