/* Styles globaux du Header */
.header {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  z-index: 999;
}

/* Zone de recherche */
.search-container {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  max-width: 400px;
}

.search-icon {
  position: absolute;
  left: 370px;
  color: #aaa;
  font-size: 16px;
}

.search-input {
  width: 100%;
  padding: 8px 10px 8px 45px; /* Augmenter le padding à gauche */
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  color: #333;
  background-color: #f7f7f7;
}


.search-input::placeholder {
  color: #aaa;
}

/* Icône de notification */
.notification-container {
  position: relative;
  cursor: pointer;
  margin-right: 10px;

}

.notification-icon {
  font-size: 25px;
  color: #555;
}


/* Section du profil utilisateur */
.profile-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-name {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.profile-role {
  font-size: 12px;
  color: #777;
  margin: 0;
}

.dropdown-icon {
  font-size: 12px;
  color: #555;
  margin-left: 5px;
}

/* Modal Notifications */
.notification-modal {
  position: absolute;
  top: 60px;
  right: 18%;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  max-height: 400px;
  overflow-y:hidden;
  overflow-x:hidden;

}

.notification-modal.hidden {
  display: none;
}

/* Responsive pour mobile */
@media (max-width: 768px) {
  .header {
    left: 0;
  }

  .search-container {
    max-width: 250px;
  }

  .profile-info {
    display: none;
  }
}