body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.Seamless {
  padding: 10px 30px;
  background-color: white;
}

.Seamless .container {
  /* grid-template-columns: 1fr 1fr;*/
  gap: 260px;
  align-items: center;
  padding: 60px 0;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 80px;
}

.Seamless .container .text {
  /* max-width: 100%;*/
  text-align: justify;
  padding: 20px;
}

.Seamless .container .text h1 {
  font-weight: 700;
  margin-bottom: 20px;
}

.Seamless .container .text p {
  line-height: 1.8;
  color: #777;
  font-size: 16px;
}

.Seamless .container .text a {
  display: inline-block;
  margin-top: 20px;
  color: #007bff;
  /* text-decoration: none;*/
  font-size: 16px;
}

.Seamless .container .text a:hover {
  text-decoration: underline;
}

.Seamless .container .images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  align-items: center;
  padding: 40px;
}

.Seamless .container .images img {
  width: 350px;
  font-size: 200px;
  justify-content: space-between;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.Seamless .container .images img:hover {
  transform: scale(1.2);
}
