.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px; /* Largeur réduite pour le sidebar */
    height: 100vh;
    background-color: #003366; /* Couleur du sidebar */
    padding-top: 20px;
    z-index: 1000; /* S'assurer que le sidebar est au-dessus du contenu */
  }
  
  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .sidebar-nav {
    list-style: none;
    padding-left: 0;
  }
  
  .sidebar-nav ul {
    padding-left: 0;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
  }
  
  .nav-item:hover {
    background-color: #004080; /* Change la couleur de fond au survol */
  }
  
  .nav-item.active {
    background-color: #ffffff;
    color: #003366;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .home-icon::before {
    content: "\1F3E0"; /* Icône maison */
  }
  
  .dashboard-icon::before {
    content: "\1F4CA"; /* Icône graphique */
  }
  
  .calendar-icon::before {
    content: "\1F4C5"; /* Icône calendrier */
  }
  
  .tasks-icon::before {
    content: "\1F4C8"; /* Icône tâches */
  }
  
  .settings-icon::before {
    content: "\1F527"; /* Icône réglages */
  }
  /* Styles pour le Sidebar */
.sidebar {
    position: fixed;  /* Sidebar fixe sur la gauche */
    top: 0;
    left: 0;
    width: 250px;  /* Largeur du Sidebar */
    height: 100vh;  /* Hauteur du Sidebar égale à la hauteur de la fenêtre */
    background-color: #1E2A39;
    padding: 20px;
    color: white;
    z-index: 999;  /* Le Sidebar est juste en dessous du Header */
  }
  
  .sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
  }
  
  .sidebar a:hover {
    background-color: #575757;
  }
  