body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.work-section {
  height: 100%;
  width: 1900px;
  padding-top: 60 PX;
}

.work-section h1 {
  font-size: 2.5rem;
  color: #212529;
  margin-bottom: 20px;
  text-align: justify;
  padding-left: 55px;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.categories button {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background: #fff;
  color: #212529;
  cursor: pointer;
  font-size: 0.9rem;
}

.categories button:hover {
  background-color: #e7f3ff;
  color: #007bff;
}

.content-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.info-card {
  flex: 1;
  max-width: 350px;
  text-align: left;
}

.info-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #212529;
}

.info-card p {
  color: #6c757d;
  margin-bottom: 20px;
  /*font-size: 0.95rem;*/
  line-height: 1.8;
  font-size: 16px;
}

.info-card a {
  color: #007bff;
  text-decoration: none;
}

.info-card a:hover {
  text-decoration: underline;
}

.task-cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.task-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  max-width: 350px;
  text-align: left;
}

.task-card .tag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.75rem;
  margin-bottom: 10px;
  color: #fff;
}

.task-card .preparation {
  background-color: #00aaff;
}

.task-card .sad {
  background-color: #ff9800;
}

.task-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.task-card p {
  font-size: 0.9rem;
  color: #6c757d;
  margin-bottom: 15px;
}

.progress-bar {
  background: #e9ecef;
  border-radius: 5px;
  height: 8px;
  overflow: hidden;
  margin-bottom: 15px;
}

.progress-bar .progress {
  background: #007bff;
  height: 100%;
}
.progress-bar .progress2 {
  background: #ff9800;
  height: 100%;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  color: #6c757d;
}

.avatars {
  display: flex;
  gap: -10px;
}

.avatars img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #ccc;
}
